body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Sanchez', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #555;
}

a {
  color: #555;
}

.navbar { border-radius: 0; }

.navbar-default { background-color: #d2bf60; }

a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #555;
}

.thumbnail h4 {
  text-align: left !important;
  padding-left: 8px !important;
}

.thumbnail {
  border: 0;
}

.thumbnail a:hover {
  color: #000;
}

.thumbnail .center-block {
  margin-left: 8px;
}

.btn.btn-xs.btn-danger {
  background-color: #f9bf3d;
  padding: 12px;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 1.6rem;
}
