body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Sanchez', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #555;
}

h4 {
  text-align: left !important;
}

a {
  color: #555;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.alert,
.btn,
.form-control,
.btn.btn-large.btn-primary {
  border-radius: 0;
}

.navbar { border-radius: 0; }

.navbar-default { background-color: #d2bf60; }

a:hover,
a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #555;
}

.thumbnail h4 {
  text-align: left !important;
  padding-left: 0px !important;
}

.thumbnail {
  border: 0;
  margin-bottom: 0;
  margin-top: 64px;
}

.thumbnail a:hover {
  color: #000;
}

.thumbnail .center-block {
  margin-left: 0px;
}

.btn.btn-xs.btn-danger {
  background-color: #f9bf3d;
  padding: 12px;
  border: 0;
  border-radius: 0;
  font-weight: bold;
  font-size: 1.6rem;
}

footer.footer-dark {
  background-color: transparent;
  color: #555;
  margin-top: 14rem;
}

footer.footer-dark hr { display: none; }

.alert-info.az-donation {
  background-color: transparent;
  border-color: #555;
  color: #555;
  text-align: left;
  display: inline-block;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 9px;
  padding: 6px;
  margin-top: 12px;
}

.alert-info.az-donation p {
  font-family: 'Sanchez';
}

.alert.alert-info,
.alert.alert-warning,
.alert.alert-success {
  background-color: #f9bf3d;
  border: 0;
  color: #555;
}

.alert-success hr {
  border-top-color: inherit;
}

.alert.alert-success {
  border-color: #f9bf3d;
  color: #555;
}

.alert.alert-success a {
  text-decoration: underline;
}

.az-multiple-winners,
.az-multiple-winners i,
.az-quantity,
.az-quantity p {
  font-family: 'Sanchez', sans-serif;
  font-style: normal;
}

div[data-az-role="multistage-buttons-row"] {
  background-color: transparent !important;
}
