body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Sanchez', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h1, h2 {
  color: #555;
}

.navbar-default {
  background-color: #d2bf60;
}
